



/* CSS */


.Button1:active,
.Button1:hover {
  outline: 0;
}

.Button1:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .Button1 {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}



body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

button {
    margin-top: 20px; /* Adjust as needed */
}


p {
  color: #FFFFFF;
  
}